/* You can add global styles to this file, and also import other style files */
.actions-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.required::before {
  content: "*";
  color: red;
  padding-right: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.form-check-label:hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

input.ng-valid.ng-touched {
  border-left: 5px solid #42a948;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
}
